body {
    background: rgb(red, green, blue);
    padding: 0;
}

h1 {
    color: aqua;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

.hola {
    background: rgb(0, 0, 0, 0.5);
}